.featuredG__container {
  width: 90%;
  margin: 0 auto;
  .featured__games__title{
    margin-bottom: 2rem;
    a{
      line-height: 1.3;
      font-size: 30px;
      font-weight: bolder;
      color: #ffffff;
    }
  }
  .featured__games__gta6 {
    margin-bottom: 35px;
    .gta6__bigImg{
      display: none;
    }
  }
}
.viewMore__button{
  margin-top: 40px;
  text-align: center;
  a{
    background: transparent;
    border: none;
    font-weight: 400;
    line-height: unset;
    outline: none;
    padding: 0;
    position: relative;
    text-transform: none;
    z-index: 1;
    color: #e8e8e8;
    font-size: 20px;
    transition: all .2s ease;
  }
  a::before{
    border-radius: .25rem;
    bottom: -2px;
    content: "";
    display: block;
    height: 4px ;
    left: -.1rem ;
    position: absolute;
    transition: all .2s ease ;
    width: calc(100% + .2rem) ;
    z-index: -1 ;
    background-color: #fcaf17;
  }
  a:hover{
    color: #161616;

  }
  a:hover::before{
    padding: 17px 10px ;
    left: -.5rem ;
    width: calc(100% + 1rem);
  }
  

}
/* .gameRow{
  display: flex;
  justify-content: center;
  align-items: center;
}
.gameCol{
  padding: 0 ;
} */

/* Media area */
@media only screen and (max-width: 1024px) {
  .featured_games{
    padding-top: 152px !important;
    padding-bottom: 72px !important;
  }
  .viewMore__button{
    a{
      font-size: 18px;
    }
  }
  .featured__games__title{
    a{
      font-size: 27px !important;
    }
  }
  .gameCol{
    width: 50%;
    .featured__games__game{
      width: 100%;

    }
    .rdr2{
      margin-top: 24px ;
    }
    .rdro{
      margin-top: 24px;
    }
    
  }
}
@media only screen and (max-width: 786px) {
  .viewMore__button{
    a{
      font-size: 16px;
    }
  }
  .featured__games__title{
    a{
      font-size: 24px !important;
    }
  }
  .featured__games__gta6{
    margin-bottom: 24px !important;
    .gta6__img{
      display: none !important;
    }
    .gta6__bigImg{
      display: block !important;
    }
  }
}
@media only screen and (max-width: 768px) {
  .featured_games{
    padding-top: 128px !important;
    padding-bottom: 45px !important;
  }
}

  @media only screen and (max-width: 576px) {
    .featuredG__container{
      width: 85%;
    }
  
    }
