@import url(https://db.onlinewebfonts.com/c/08e020de1811ec4489f82d1247a42c09?family=Helvetica+Now+Text);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Now Text";
  .newswire-body{
    padding: 40px 30px;
  }
  .newswireCol{
    margin-bottom: 24px;
    .card {
        height: 100% !important;
        background: #000000;
        border-radius: 8px;
        border: 1px solid #282828;
        transition: transform 0.2s ease;
        overflow: hidden;
        
        h5 {
          color: white;
        }
        p {
          color: white;
        }
      
    }
  }
  .custom-container {
    width: 90%;
    margin: 0 auto;
  }
  .viewMore__button {
    margin-top: 40px;
    text-align: center;
    a {
      background: transparent;
      border: none;
      font-weight: 400;
      line-height: unset;
      outline: none;
      padding: 0;
      position: relative;
      text-transform: none;
      z-index: 1;
      color: #e8e8e8;
      font-size: 20px;
      transition: all 0.2s ease;
    }
    a::before {
      border-radius: 0.25rem;
      bottom: -2px;
      content: "";
      display: block;
      height: 4px;
      left: -0.1rem;
      position: absolute;
      transition: all 0.2s ease;
      width: calc(100% + 0.2rem);
      z-index: -1;
      background-color: #fcaf17;
    }
    a:hover {
      color: #161616;
    }
    a:hover::before {
      padding: 16px 10px ;
      left: -0.5rem;
      width: calc(100% + 1rem);
    }
  }
  /* Modal */
  .modal {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7) ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: transparent;
    border-radius: 8px;
  }

  .modal-content iframe {
    width: 1300px;
    height: 550px;
    margin: 0 auto;
    border-radius: 8px;
  }
  /* Detail area */
  .generalRow{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto
  }
  /* Admin Area */
  .general__admin{
    width: calc(100% - 307.2px) ;
    margin-left: auto ;
    background-color: #e8e8e8;
    tbody{
      th{
          vertical-align: middle;
      }
      td{
          vertical-align: middle;
      }
  }

  }
}

/* General Media */
@media only screen and (max-width: 1400px) {
  body {
    .modal-content iframe {
      width: 80%;
      height: 600px;
    }
  }
}
@media only screen and (max-width: 1024px) {
  body {
    .newswire-body{
      padding: 36px 27px;
      p{
        font-size: 22px !important;
      };
      h5{
        font-size: 13px !important;
      }
      time{
        font-size: 13px !important;
      }
    }
    .viewMore__button {
      button{
        font-size: 18px !important;

      }
      a {
        font-size: 18px;
      }
    }
  }
}
@media only screen and (max-width: 786px) {
  body {
    .viewMore__button {
      button{
        font-size: 16px !important;

      }
      a {
        font-size: 16px;
      }
    }
    .modal-content iframe {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 768px) {
  body {
  
    .newswire-body{
      padding: 32px 24px;
      p{
        font-size: 20px !important;
      };
      h5{
        font-size: 12px !important;
      }
      time{
        font-size: 12px !important;
      }
    }
    
  }
}
@media only screen and (max-width: 576px) {
  body {
    .custom-container {
      width: 85%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 350px) {
  body {
    .modal-content iframe {
      height: 450px;
    }
  }
}
