.rdrOnline__category,
.gta5Online__category{
    background-color: #0b0b0b;
    padding-top: 160px;
    a{
        text-decoration: none;
    }
    .morestories__btn{
        padding-bottom: 80px;
        button{
            background: transparent;
              border: none;
              font-weight: 400;
              line-height: unset;
              outline: none;
              padding: 0;
              position: relative;
              text-transform: none;
              z-index: 1;
              color: #e8e8e8;
              font-size: 20px;
              transition: all 0.2s ease;
        }
        button::before{
            border-radius: 0.25rem;
            bottom: -5px;
            content: "";
            display: block;
            height: 4px;
            left: -0.1rem;
            position: absolute;
            transition: all 0.2s ease;
            width: calc(100% + 0.2rem);
            z-index: -1;
            background-color: #fcaf17;
        }
        button:hover {
            color: #161616;
          }
          button:hover::before {
            padding: 15px ;
            left: -0.5rem;
            width: calc(100% + 1rem);
          }
        
    }
}